@import url('https://fonts.googleapis.com/css2?family=Alice&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Spectral:wght@200;300;400;500&display=swap');

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: white;
    font-family: 'Roboto', sans-serif;
}

body.dark-mode {
    background-color: #181A1B;
    color: #d1cdc7;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.6rem;
    background-color: #5C1919;
    color: #fff;
    font-family: 'Roboto', sans-serif;

}

.headertext {
    text-decoration: none;
    color: #fff;
    font-size: 1.1rem;
    margin-right: 1.3rem;
    margin-left: 1.3rem;
}

.headertitre {
    text-decoration: none;
    font-family: 'Alice', serif;
    color: #fff;
    font-size: 1.5rem;
    margin-right: 10px;
}

.headertext:hover {
    color: #ddd;
    text-decoration: underline;
}

.leftheader {
    margin-left: 0.6rem;
    display: flex;
    align-items: center;
}

.textleftheader {
    margin-left: 0.6rem;
}

.logo {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

button.btn.btn-outline-danger {
    border-color: white;
    color: white;
}

button.btn.btn-outline-danger:hover {
    color: black;
    background-color: white;
}

button.btn.btn-light.voirarticle {
    border-color: black;
    color: red;
}

.card {
    border: none;
    background-color: transparent;
}



.card-body {
    border: none;
}

.img-article {
    border-radius: 25px 25px 25px 25px;
}

.card-title {
    font-family: 'Roboto', serif;
    font-size: 1.5rem;
    font-weight: bold;
}

.card-text {
    font-family: 'Roboto', serif;
    font-size: 1rem;
    margin-top: 1rem;
    margin-bottom: 0rem;
}

.card-date {
    font-family: 'Roboto', serif;
    font-weight: bold;
    color: #828282;
    font-variant-caps: all-small-caps;
    font-size: 1.5rem;
    margin-bottom: 1px;
}

.article-dispo {
    padding: 5rem;
    display: flex;
    justify-content: space-evenly;
}

.card-link {
    text-decoration: none;
    color: #9F9F9F;
}


.btn-lg {
    font-size: 1.1rem;
    padding-bottom: 0rem;
    padding-top: 0rem;
    padding-left: 1.8rem;
    padding-right: 1.8rem;
}

.card.border-0 {
    cursor: pointer;
  }


.card.border-0:hover .card-link {
    color: #5C1919;
    text-decoration: underline;
}

.button-emplacement {
    display: flex;
    margin-right: 2rem;
}

footer {
    color: black;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    background-color: #F2F2F2;
    padding: 3rem;}

.footer-text {
    text-decoration: none;
    color: black;
}

.footer-text:hover {
    color: rgb(43, 37, 37);
    text-decoration: underline;
}

.footer-titre {
    font-weight: bold;
}

footer.dark-mode {
    background-color: #1F2223;
}

.search-container {
    position: relative;
    display: flex;
    align-items: center;
    margin-right: 2rem;
  }
  
.search-bar {
    width: 40px;
    height: 2.625rem;
    font-size: 1.1rem;
    border: none;
    outline: none;
    transition: width 0.3s ease-in-out;
    background-color: #401313;
    color: #fff;
    position: absolute;
    right: 0px;
    border-radius: 25px 25px 25px 25px;

  }
  
  .search-bar.active {
    width: 250px;
  }
  
  .btn-search {
    border: none;
    background-color: transparent;
    color: #fff;
    font-size: 1.1rem;
    outline: none;
    cursor: pointer;
    z-index: 1;
  }
  
  .btn-search:hover {
    color: #ddd;
  }
  
input[type=text] {
    padding-left: 1rem;
}

.dark-mode-container {
    display: flex;
    align-items: center;
    margin-right: 1rem;
    transition: margin-right 0.3s ease-in-out;
}

.dark-mode-container.active {
    margin-right: 14rem;
}

span {
    color: red;
}


.paragraphe-text {
    font-family: 'Spectral', serif;
}

@media (min-width: 1200px) {
    .container{
        max-width: 970px;
    }
}

td {
    color: black;
}

p {
    color: black;
}

p.dark-mode {
    color: #d1cdc7;
}

.dark-mode {
    background-color: #181A1B;
    color: #d1cdc7;
}

.dark-mode p {
    color: #d1cdc7;
}

.dark-mode td {
    color: #d1cdc7;
}

.tr:nth-of-type {
    background-color: #fff;
}